Source: eta-widget-slack
Section: kde
Priority: optional
Maintainer: Hikmet Baş <hikmet.bas@pardus.org.tr>
Build-Depends: debhelper (>= 9), kdebase-workspace-dev, cmake
Standards-Version: 3.9.6
Homepage: http://pardus.org.tr

Package: eta-widget-slack
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, eta-slack
Description: Etkileşimli Tahta Arayüzü Ders Zamanı Kayıt Programı
 Tek tıkla ders ve teneffüs modları arası geçiş kolaylığı.
